<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:content="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置处理器 Handle，映射 [/first] 请求 -->
    <bean name="/first" class="com.icarus.controller.FirstController"/>

    <!-- 指定需要扫描的包，如果使用了注解(@Controller)，需要指定扫描使用了注解的包 -->
    <content:component-scan base-package="com.icarus.controller"/>

    <!-- 处理器映射器，将配置的处理器的 name 值作为 url 进行查找 -->
    <!-- <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/> -->
    <!-- 处理器适配器，配置对处理器中 handleRequest() 方法的调用 -->
    <!-- <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/> -->
    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 设置前缀 -->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!-- 设置后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>